In [ ]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases

"""
A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of data. 
It serves as a central repository for storing and managing data, providing an interface for users or applications to interact with the data.


SQL Databases:
SQL (Structured Query Language) databases are based on the relational model, where data is organized into tables with predefined schemas. 


NoSQL Databases:
NoSQL (Not Only SQL) databases, on the other hand, are designed to handle large volumes of unstructured, semi-structured, or polymorphic data


SQL databases display data in form of tables so it is known as table-based database.
NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores.


SQL databases are vertically scalable
NoSQL databases are horizontally scalable.

"""

In [ ]:

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example


"""
DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of a database and its objects. 
DDL statements are used to create, modify, and delete database objects such as tables, views, indexes, and constraints.




CREATE: The CREATE statement is used to create new database objects

CREATE TABLE Customers (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Email VARCHAR(100),
    Age INT
);


DROP:
The DROP statement is used to delete or remove database objects. 


DROP TABLE Customers;



ALTER:
The ALTER statement is used to modify the structure of existing database objects.

ALTER TABLE Customers
ADD Address VARCHAR(200);


TRUNCATE:
The TRUNCATE statement is used to delete all data from a table while keeping the table structure intact. 
It is a fast alternative to the DELETE statement when you want to remove all records from a table.

TRUNCATE TABLE Customers;

"""

In [ ]:

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example

"""
DML stands for Data Manipulation Language. 
It is a subset of SQL (Structured Query Language) used to manipulate or modify the data stored in the database. 
DML statements are used to insert, update, and delete data within tables.



INSERT:
The INSERT statement is used to insert new data into a table. 
It allows you to add one or more rows of data to a specified table. 

INSERT INTO Customers (ID, Name, Email, Age)
VALUES (1, 'John Smith', 'john@example.com', 30);


UPDATE:
The UPDATE statement is used to modify existing data within a table. 
It allows you to update one or more columns of one or more rows in a table.


UPDATE Customers
SET Email = 'newemail@example.com'
WHERE ID = 1;


DELETE:
The DELETE statement is used to remove one or more rows from a table. 
It allows you to delete specific rows or all rows from a table based on specified conditions. 

DELETE FROM Customers
WHERE ID = 1;

"""

In [ ]:


# Q4. What is DQL? Explain SELECT with an example.

"""
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to query and retrieve data from a database. 
DQL statements, primarily the SELECT statement, are used to fetch specific data from one or more tables based on specified conditions. 

SELECT:
The SELECT statement is used to retrieve data from one or more tables in a database. 
It allows you to specify which columns to include in the result set and apply various conditions and filters. 

SELECT ID, Name, Email
FROM Customers
WHERE Age > 25;

"""

In [ ]:

# Q5. Explain Primary Key and Foreign Key

"""
Primary Key::
A primary key generally focuses on the uniqueness of the table. 
It assures the value in the specific column is unique.


Foreign Key::
A foreign key is generally used to build a relationship between the two tables. 
The table allows only one primary key. 


a primary key uniquely identifies records within a table, while a foreign key establishes relationships between tables by referencing the primary key values of another table. 
Primary and foreign keys are fundamental concepts in relational databases that help ensure data integrity and facilitate data relationships.

"""

In [ ]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
""" 

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)


  

cursor() method:
cursor() method creates a cursor object, which allows you to execute SQL queries and fetch the results.


execute() method:
The execute() method is used to execute SQL queries and statements.

  

"""

In [ ]:


# Q7. Give the order of execution of SQL clauses in an SQL query

"""
The order of execution of SQL clauses in an SQL query typically follows the following sequence:

SELECT: The SELECT clause is used to specify the columns or expressions to retrieve from the database.

FROM: The FROM clause is used to specify the table or tables from which the data will be retrieved.

WHERE: The WHERE clause is used to specify conditions that filter the rows to be included in the result set. 
It narrows down the selection based on specific criteria.

GROUP BY: The GROUP BY clause is used to group rows together based on one or more columns. 
It is often used in combination with aggregate functions like SUM, COUNT, AVG, etc.

HAVING: The HAVING clause is used to filter the grouped rows based on conditions. 
It operates similarly to the WHERE clause but applies to the grouped data rather than individual rows.

ORDER BY: The ORDER BY clause is used to sort the result set based on specified columns. 
It can sort in ascending (ASC) or descending (DESC) order.

LIMIT/OFFSET: The LIMIT clause is used to restrict the number of rows returned in the result set, 
while the OFFSET clause is used to skip a specified number of rows before starting to return rows.



"""